@model UpdateSocialMediaViewModel
@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="page-content">
        <div class="container-fluid">
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        </div>
    </div>
}
else
{
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Sosyal Medya Hesabını Güncelle</h4>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form asp-action="UpdateSocialMedia" method="post">
                                <input asp-for="SocialMediaToUpdate.SocialMediaId" type="hidden"/>
                                <div class="form-group mb-3">
                                    <label for="Name">Hizmet Başlığı</label>
                                    <input asp-for="SocialMediaToUpdate.Name" type="text" class="form-control" id="Name">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="Url">Hizmet Açıklaması</label>
                                    <input asp-for="SocialMediaToUpdate.Url" type="text" class="form-control" id="Url">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="Icon">Hizmet Ikon Url</label>
                                    <input asp-for="SocialMediaToUpdate.Icon" type="text" class="form-control" id="Icon">
                                </div>

                                <button type="submit" class="btn btn-primary waves-effect waves-light">Sosyal Medya Hesabını Kaydet</button>
                            </form>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>

}

