@model UpdateTestimonialViewModel
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="page-content">
        <div class="container-fluid">
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        </div>
    </div>
}
else
{
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Referans Güncelle</h4>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form asp-action="UpdateTestimonial" method="post">
                                <input asp-for="TestimonialToUpdate.TestimonialId" type="hidden" />
                                <div class="form-group mb-3">
                                    <label for="Name">Referans İsim</label>
                                    <input asp-for="TestimonialToUpdate.Name" type="text" class="form-control" id="Name">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="Title">Referans Unvanı</label>
                                    <input asp-for="TestimonialToUpdate.Title" type="text" class="form-control" id="Title">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="Comment">Referans Yorumu</label>
                                    <textarea rows="5" asp-for="TestimonialToUpdate.Comment" class="form-control" id="Comment"></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="IconUrl">Referans Görseli</label>
                                    <input asp-for="TestimonialToUpdate.ImageUrl" type="text" class="form-control" id="IconUrl">
                                </div>

                                <button type="submit" class="btn btn-primary waves-effect waves-light">Referansı Kaydet</button>
                            </form>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>

}

